@{
    ViewData["Title"] = "Pending Approval";
}

<h2>Registration Complete</h2>
<p>Administrator approval is required. Once approved, you will be able to log in.</p>

<a href="/Account/Login">Return to Login Page</a>
