@model BlogApp.Models.Article

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<p>@Model.Body</p>
<p><strong>Author:</strong> @Model.ContributorUsername</p>
<p><strong>Created:</strong> @Model.CreateDate.ToString("yyyy-MM-dd")</p>
